body{width:100%;margin:0 auto}

/*nav部分*/
#nav{
    width: 100%;
    background: #fbfbfb;
    border-bottom: 1px #e0e0e0 solid;
    height: 30px;
    line-height: 30px;
}
#nav .nav1{
    height:30px;
    margin-left:75px;
    float:left;
}
#nav .nav1 .hello{
    float:left;

}
#nav .nav1 .add{
    float:left;
    margin-left:15px;
}
#nav .nav1 .add a{
    height:30px;
    line-height: 30px;
    display: block;
    color:#4c4c4c;

}
#nav .nav1 .system{
    float:left;
    margin-left:9px;
}
#nav .nav1 .system .span1{
    float:left;
    display: block;
    height:30px;
    line-height: 30px;
}
#nav .nav1 .system .login{
    height:30px;
    line-height: 30px;
    display: block;
    color:#4c4c4c;
    float: left;
   
}

#nav .nav1 .system .register{
    height:30px;
    line-height: 30px;
    display: block;
    color:#4c4c4c;
    float:left;
    margin-left:4px;
}

#nav .nav1 a:hover{
    color:#cd0000
}
#nav .nav1 .system a:hover{
    color:#cd0000
}

#nav .nav1 .my{
    height:30px;
    line-height:30px;
    margin-left:15px;
    float:left;
}

#nav .nav1 .my .yl{
    display: block;
    color:#4c4c4c;
    float:left;
}
#nav .nav1 .my .yl p{
    float:left;
}
#nav .nav1 .my .yl em{
    display: block;
    width:13px;
    height:14px;
    background:url(../images/pic1.jpg) no-repeat;
    margin-top:8px; 
    margin-left:5px;
    float:left;
}
#nav .nav1 .my li{
    width:74px;
    
}
#nav .nav1 .my li .li1-1 span{
    width:74px;
    display: block;
} 

#nav .nav1 .my li .li1-1 span a{
    width:68px;
    display: block;
    color:#4c4c4c
} 
#nav .nav1 .my li:hover{
    background:#fff;
    border:3px solid #dddddd;
    width:68px;
}
#nav .nav1 .my li .li1-1{
    display: none;
}
#nav .nav1 .my li:hover .li1-1{
    display: block;
   
}
#nav .nav1 .my li:hover .li1-1 a:hover{
    color:#cd0000
}
#nav .nav1 .my li:hover .yl{
    color:#cd0000
}

#nav .nav2{
    height:30px;
    margin-left:552px;
    float:left;

}
#nav .nav2 .dh{
    width:75px;
    height:30px;
    float:left;
}
#nav .nav2 .dh li{
    width:75px;
    height:30px;
}
#nav .nav2 .dh li a{
    color:#4c4c4c;
    display: block;
    float:left;
}
#nav .nav2 .dh li a p{
    float:left;
}
#nav .nav2 .dh li a em{
    width:13px;
    height: 14px;
    display: block;
    background:url(../images/pic1.jpg) no-repeat;
    margin-top:8px; 
    margin-left:5px;
    float:left;
}


















